<div class="zu-top-nav-live zu-noti7-popup zg-r5px no-hovercard" id="zh-top-nav-live-new" role="popup" tabindex="0">
	<div class="zu-top-nav-live-inner zg-r5px">
		<div class="zu-top-live-icon">&nbsp;</div>
		<div class="zu-home-noti-inner" id="zh-top-nav-live-new-inner">
			<div class="zm-noti7-popup-tab-container clearfix" tabindex="0" role="tablist">
				<button class="zm-noti7-popup-tab-item message" role="tab">
					<span class="icon">消息</span>
				</button>
				<button class="zm-noti7-popup-tab-item user" role="tab">
					<span class="icon">用户</span>
				</button>
				<button class="zm-noti7-popup-tab-item thanks" role="tab">
					<span class="icon">赞同和感谢</span>
				</button>
			</div>
		</div>
		<div class="zm-noti7-frame-border top"></div>
		<div class="zm-noti7-frame">
			<div class="zm-noti7-content message zh-scroller" style="position: relative; overflow: hidden;">
				<div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;">
					<div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
						<div class="zm-noti7-content-inner">
							<div class="zm-noti7-content-body">
								<div class="zm-noti7-popup-loading">
									<span class="noti-spinner-loading"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div>
				<div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div>
			</div>
			<div class="zm-noti7-content user zh-scroller" style="display: none; position: relative; overflow: hidden;">
				<div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;">
					<div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
						<div class="zm-noti7-content-inner">
							<div class="zm-noti7-content-body">
								<div class="zm-noti7-popup-loading">
									<span class="noti-spinner-loading"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div>
				<div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div>
			</div>
			<div class="zm-noti7-content thanks zh-scroller" style="display: none; position: relative; overflow: hidden;"><div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;"><div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
				<div class="zm-noti7-content-inner">
					<div class="zm-noti7-content-body">
						<div class="zm-noti7-popup-loading">
							<span class="noti-spinner-loading"></span>
						</div>
					</div>
				</div>
				</div></div>
				<div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div>
				<div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div>
			</div>
		</div>
		<div class="zm-noti7-frame-border bottom"></div>
		<div class="zm-noti7-popup-footer">
		<a href="/notifications" class="zm-noti7-popup-footer-all zg-right">查看全部 »</a>
		<a href="/settings/notification" class="zm-noti7-popup-footer-set" title="通知设置"><i class="zg-icon zg-icon-settings"></i></a>
		</div>
	</div>
</div>